html {
  overflow-y: scroll;    
}

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(img01.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #787878;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #32639A;
}

h1 {
	font-size: 2em;
	display: none;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

p {
  text-align: justify;  
}

ul, ol {
}

a {
	text-decoration: none;
	color: #4486C7;
}

a:hover {
}

#stranka {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

/*Hlavička*/
#hlavicka {
	width: 940px;
	height: 119px;
	margin: 0 auto;
	text-align: center;
}

#nadpis {
	margin: 0;
	padding-top: 20px;
	color: #000000;
}

/*Menu*/
#menu {
	width: 940px;
	height: 49px;
	margin: 0 auto;
	padding: 0;
}

#menu ul{
 	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu ul li {
	float: left;
}

#menu ul li ul {
	margin-top: 0px;
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu ul li .menu_a {
	display: block;
	width: 134px;
	height: 28px;
	padding-top: 13px;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}

#menu ul li:hover .menu_a{
	background: #659CEF url(img03.jpg) repeat-x left bottom;
	text-decoration: none;
}

#menu ul li.vybrana .menu_a{
	background: #FBFBFC url(img02.jpg) repeat-x left bottom;
	padding-left: 0;
	color: #30476A;
	text-decoration: none;
}

#menu ul li:hover ul {
	visibility: visible;
}

#menu ul li ul li{
	float: none;
	border: none;
	padding: 0;
	margin: 0;
	width: 134px;
	background-color: #2D5BA8;
	color: #FFFFFF;
} 

#menu ul li ul li:hover {
	background-color: #406EBB;
}

#menu ul .vybrana ul li{
	float: none;
	border: none;
	padding: 0;
	margin: 0;
	width: 134px;
	background-color: #D6E8F4;
	color: #30476A;
} 

#menu ul .vybrana ul li:hover {
	background-color: #ECF3F9;
}

#menu ul li ul li a {
  color: #FFFFFF;
  display: block;
  padding: 8px 10px;  
}

#menu ul .vybrana ul li a {
  color: #30476A;
  display: block;
  padding: 8px 10px;
}

.menu_tabulka {
  margin-left: auto;
  margin-right: auto;
}

.menu_tabulka td{
  text-align: center;
  vertical-align: top;
  height: 90px;
  width: 90px;
}

.menu_tabulka img{
  border: none;
  width: 56px;
  height: 56px;
}

.menu_tabulka img:hover{
  width: 60px;
  height: 60px;
  margin-bottom: -2px;
  margin-top: -2px;
}

/*Obsah*/
#obsah {
	width: 940px;
	margin: 0 auto;
	padding: 30px 0px 0px 0px;
	min-height: 300px;
}

/*Patička*/
#paticka { 
	height: 30px;
	margin: 20px auto;
	padding: 0px 0 15px 0;
	background: #D8E7FE;
	border-top: 1px solid #D3DEF0;
	font-family: Arial, Helvetica, sans-serif;     
}

#paticka p {
	margin: 0;
	padding-top: 15px;
	line-height: normal;
	font-size: 11px;
	text-align: center;
	color: #A0A0A0;
}

#donate {
  position: absolute;
  top: 6px;
  left: 10px;
}

#jazyk img {
  width: 35px;
  margin: 0;
  border: 0;
  float: none;
}

#jazyk #vlajka_cz {
  position: absolute;
  top: 6px;
  right: 50px;
}

#jazyk #vlajka_en {
  position: absolute;
  top: 6px;
  right: 10px;
}

#jazyk #vlajka_cz:hover {
  width: 39px;
  position: absolute;
  top: 4px;
  right: 48px;
}

#jazyk #vlajka_en:hover {
  width: 39px;
  position: absolute;
  top: 4px;
  right: 8px;
  
}

#novinky{
  min-height: 400px;
  width: 200px;
  background-color: #F4F9FD;
  border: 1px solid #BAD6FB;
  list-style: none;
  padding: 0px;
  line-height: normal;
  float: right;
  margin: 12px 10px 0 20px;
  clear: both;
}

#novinky li{
  border-bottom: 1px solid #BAD6FB;
  background-color: #D8E7FE;
}

#novinky li a{
  display: block;
  color: #2D5AAB;  
  padding: 5px;
}

#novinky li a:hover {
  background-color: #E5F2FB;
}

#novinky_nadpis {
  font-size: 18px;
  text-align: center;
}

#sdilet {
  width: 186px;
  margin: 30px auto 0px auto;
  padding-bottom: 10px;
}

#socialni_site {
  width: 446px;
  margin: 10px auto 0px auto;
  padding-bottom: 10px;
}

#socialni_site img{
  border: none;
  margin: 0;
  padding: 0;
}

input.vedecka_button1 {
  font-size: 12px;
  width: 25px;
}
input.vedecka_button2 {
  font-size: 12px;
  width: 40px;
}
input.vedecka_button3 {
  font-size: 12px;
  width: 140px;
}
input.vedecka_button4 {
  font-size: 12px;
  width: 90px;
}


input.zakladni_button1 {
  font-size: 12px;
  width: 25px;
}
input.zakladni_button2 {
  font-size: 12px;
  width: 80px;
}
input.zakladni_button3 {
  font-size: 12px;
  width: 35px;
}

.stred {
  text-align: center;
}

.stred_objekt {
  margin-left: auto;
  margin-right: auto;
}

#homepage {
  margin-top: 10px;
  margin-left: 80px;
  font-size: 12pt;
}

.doporucujeme_blok {
  margin-top: 20px;
  width: 100%;
  text-align: left;
	border-top: 1px solid #E5E5E5;
	padding: 15px 30px 0px 30px;
	padding-bottom: 5px;
}

.doporucujeme_blok .doporucujeme_nadpis{
  font-weight: bold;
} 

.doporucujeme_text {
  margin-left: 5px;
}

.clear{
  clear: both;
}

#kalkulacka table {
  margin: 0 auto;
  border: 1px solid #bad6fb;
  background-color: #F4F9FD;
}

#kalkulacka input {
  height: 40px;
  width: 136px;
  margin: 2px;
  text-align: right;
  font-size: 12pt;
}

#kalkulacka img {
  margin: 2px;        
}

#kalkulacka img:hover {
  opacity: 0.9;         
}

#kalkulacka img:active {
  opacity: 0.5;         
}

#logo {
  margin: 5px 10px 20px 0;  
  height: 80px;
  width: 80px;    
}

#banner_l {
  position: absolute;
  top: 180px;
  left: 10px;
}

#banner_r {
  position: absolute;
  top: 180px;
  right: 10px;
}

@media only screen and (max-width: 1280px) { 
  #banner_l {
    display: none;
  }
  
  #banner_r {
    display: none;
  }
}
 
@media only screen and (max-width: 767px) { 
  #stranka {
  	width: 100%;
  }
  
  #hlavicka {
  	width: 100%;
  }
  
  #nadpis {
  	padding-top: 20px;
  }
  
  #nadpis {
    margin-top: 30px;
    width: 90%;
  }
  
  #menu {
  	width: 100%;
    height: 240px;
  }
  
  #menu ul li {
  	width: 100%;
    background-color: #4C83DE; 
    border-top: 1px solid #fff;
  }
    
  #menu ul li .menu_a {
  	width: 100%;
  	height: 25px;
  	padding-top: 8px;
  }
  
  #menu ul li:hover .menu_a{
  	background-image: none;
    background-color: #4C83DE; 
  }
  
  #menu ul li.vybrana .menu_a{
  	background-image: none;
    background-color: #4C83DE; 
    color: #fff;
  }

  #menu ul ul li {
    display: none;
  }
  
  #obsah {
    width: 95%;
    padding-top: 10px;
  }

  #donate {
    display: none;
  }
  
  #jazyk img {
    width: 35px;
    margin: 0;
    border: 0;
    float: none;
  }
  
  #jazyk #vlajka_cz {
    position: absolute;
    top: 6px;
    right: 50px;
  }
  
  #jazyk #vlajka_en {
    position: absolute;
    top: 6px;
    right: 10px;
  }
  
  #jazyk #vlajka_cz:hover {
    width: 39px;
    position: absolute;
    top: 4px;
    right: 48px;
  }
  
  #jazyk #vlajka_en:hover {
    width: 39px;
    position: absolute;
    top: 4px;
    right: 8px;
    
  }
  
  #novinky{
    display: none;
  }
  
  #sdilet {
    width: 186px;
    margin: 40px auto 0px auto;
    padding-bottom: 10px;
  }
  
  #socialni_site {
    width: 95%;
    text-align: center;
  }
  
  #logo {
    display: none;
  }
  
  .doporucujeme_blok {
    width: 95%;
  	padding: 15px 0 0 0;
  }  
  
  #homepage {
    margin-top: 10px;
    margin-left: 0px;
  }    
}      